 @{ Layout = "~/Views/_LayoutPage.cshtml"; } @section styles{
<style>
    .input-group a {
        position: relative;
        top: 3px;
        left: -5px
    }

    .input-group input {
        cursor: pointer
    }

    .well {
        overflow: scroll;
        height: 150px !important;
        overflow-x: hidden
    }

    textarea {
        width: 100% !important;
        height: 100% !important
    }
</style>
}
<div class=card>
    <div class=card-header>
        <h2>Developer Checker</h2>
    </div>
    <div class="card-body card-padding">
        <div class=row>
            <div class=col-sm-4>
                <h2>Backend</h2>
                <hr>
                <br>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b19 aria-expanded=false aria-controls=b19>Katmanlı Mimari Kullanımı</a>
                    </div>
                    <div class=collapse id=b19>
                        <div class=well>
<textarea>
1 - Entities (tablolar/model)
2 - Core (Dapper Generic Repository)
3 - DataAccess (veritabanı/entitylerin interfaceleri/veritabanına giden fonksiyonlar)
4 - Business (ninject / data access'i kullanan interface/)
5 - Web (BaseController + businessten gelen servisler)
6 - Api (Bearer Token + businessten gelen servisler)
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b20 aria-expanded=false aria-controls=b20>Veritabanı Yolunun Base Class'a Gömülmesi</a>
                    </div>
                    <div class=collapse id=b20>
                        <div class=well>
<textarea>

</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b21 aria-expanded=false aria-controls=b21>Interface - Singleton Kullanımı</a>
                    </div>
                    <div class=collapse id=b21>
                        <div class=well>
<textarea>

</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b22 aria-expanded=false aria-controls=b22>Cache Kullanımı</a>
                    </div>
                    <div class=collapse id=b22>
                        <div class=well>
<textarea>

</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b13 aria-expanded=false aria-controls=b13>Statik Cacheleme</a>
                    </div>
                    <div class=collapse id=b13>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <caching enabled enableKernelCache=true>
                            <profiles>
                            <add extension=.html policy=CacheUntilChange kernelCachePolicy=CacheUntilChange>



                            <add extension=.css policy=CacheUntilChange kernelCachePolicy=CacheUntilChange>



                            <add extension=.js policy=CacheUntilChange kernelCachePolicy=CacheUntilChange>



                                        </profiles>
                                    </caching>
                                    </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b23 aria-expanded=false aria-controls=b23>BaseController Kullanımı</a>
                    </div>
                    <div class=collapse id=b23>
                        <div class=well>
<textarea>

</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b24 aria-expanded=false aria-controls=b24>Global.asax Hata Loglama</a>
                    </div>
                    <div class=collapse id=b24>
                        <div class=well>
<textarea>

</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b1 aria-expanded=false aria-controls=b1>Routing</a>
                    </div>
                    <div class=collapse id=b1>
                        <div class=well>
                            <a href=https://blogs.msdn.microsoft.com/webdev/2013/10/17/attribute-routing-in-asp-net-mvc-5/ target=_blank>blogs.msdn.microsoft.com/webdev/2013/10/17/attribute-routing-in-asp-net-mvc-5/</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b2 aria-expanded=false aria-controls=b2>GZIP Sıkıştırma</a>
                    </div>
                    <div class=collapse id=b2>
                        <div class=well>
                            <a href=https://www.bayramucuncu.com/asp-net-mvc-gzipdeflate-sikistirilmis-compressed-icerik/ target=_blank>bayramucuncu.com/asp-net-mvc-gzipdeflate-sikistirilmis-compressed-icerik/</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b3 aria-expanded=false aria-controls=b3>Format Code</a>
                    </div>
                    <div class=collapse id=b3>
                        <div class=well>
                            Resharper veya CodeMaid ile tüm kodların "Format Code" ile düzenlenmesi
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b4 aria-expanded=false aria-controls=b4>Güvenlik - Iframe</a>
                    </div>
                    <div class=collapse id=b4>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <httpProtocol>
                            <customHeaders>
                            <add name=X-Frame-Options value=DENY>



                                        </customHeaders>
                                    </httpProtocol>
                                </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b5 aria-expanded=false aria-controls=b5>Güvenlik - XSS</a>
                    </div>
                    <div class=collapse id=b5>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <httpProtocol>
                            <customHeaders>
                            <add name=X-Xss-Protection value="1; mode=block">



                            <add name=X-Content-Type-Options value=nosniff>



                                        </customHeaders>
                                    </httpProtocol>
                                </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b6 aria-expanded=false aria-controls=b6>Güvenlik : Browserların Referrer Vermesini Engelleme</a>
                    </div>
                    <div class=collapse id=b6>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <httpProtocol>
                            <customHeaders>
                            <add name=Referrer-Policy value=no-referrer>



                                        </customHeaders>
                                    </httpProtocol>
                                </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b7 aria-expanded=false aria-controls=b7>Güvenlik - Flash İçerik</a>
                    </div>
                    <div class=collapse id=b7>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <httpProtocol>
                            <customHeaders>
                            <add name=X-Permitted-Cross-Domain-Policies value=none>



                                        </customHeaders>
                                    </httpProtocol>
                                </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b8 aria-expanded=false aria-controls=b8>Güvenlik - SSL Yoksa Eklenmeli</a>
                    </div>
                    <div class=collapse id=b8>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <httpProtocol>
                            <customHeaders>
                            <add name=Strict-Transport-Security value="max-age=31536000; includeSubDomains">



                                        </customHeaders>
                                    </httpProtocol>
                                </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b9 aria-expanded=false aria-controls=b9>Güvenlik .NET Versiyon Gizleme</a>
                    </div>
                    <div class=collapse id=b9>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <httpProtocol>
                            <customHeaders>
                            <remove name=X-Powered-By>



                                        </customHeaders>
                                    </httpProtocol>
                                </system.webServer>
                            <system.web>
                            <httpRuntime enableVersionHeader=false>



                            </system.web>
enableHeaderChecking="true" // ASP.Net Request Header’larını kontrol ederek zararlı requestlerde hata döndürür.
executionTimeout="110" // 110 varsayılan değeri ile çalışan bu attiribute debug’ın false olduğu durumlarda ASP.Net’in bir request’te hataya düşmeden önce kaç saniye beklemes gerektiğini ayarlar.
maxRequestLength="4096" //4096 varsayılan değeri ile çalışan bu attiribute Dos ataklarına bir önlem olarak da kullanılabilir. Kullanıcıların post ettikleri veriyi KB cinsinden sınırlar. FileUpload kontrolü de buradaki değere göre upload yapar.
maxUrlLength="260" //260 varsayılan değeri olan attiribute adres satırındaki karakterlerin uzunluğunu belirler. Gereksiz ise sayı düşürülmelidir.
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b10 aria-expanded=false aria-controls=b10>Güvenlik - MVC Versiyon Gizleme</a>
                    </div>
                    <div class=collapse id=b10>
                        <div class=well>
                            Global.asax >> MvcHandler.DisableMvcResponseHeader = true;
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b12 aria-expanded=false aria-controls=b12>Güvenlik - IIS</a>
                    </div>
                    <div class=collapse id=b12>
                        <div class=well>
<textarea>
                protected void Application_PreSendRequestHeaders()
                {
                if (HttpContext.Current != null)
                {
                HttpContext.Current.Response.Headers.Remove("Server");
                }
                }
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b14 aria-expanded=false aria-controls=b14>Güvenlik - Yayından Önce Debug Kapatma</a>
                    </div>
                    <div class=collapse id=b14>
                        <div class=well>
<textarea>
                            <system.web>
                            <compilation debug=false targetFramework=“4.0”>
                                </compilation></system.web>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b15 aria-expanded=false aria-controls=b15>Güvenlik - Trace Kapatma</a>
                    </div>
                    <div class=collapse id=b15>
                        <div class=well>
<textarea>
Hata ve işlemleri uzaktan takip etmeye yarıyor.
                            <system.web>
                            <trace enabled localOnly=true>



                                </system.web>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b16 aria-expanded=false aria-controls=b16>Güvenlik - HTTP VERB</a>
                    </div>
                    <div class=collapse id=b16>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <security>
                            <requestFiltering>
                            <verbs allowUnlisted=false>
                            <add verb=GET allowed=true>



                            <add verb=POST allowed=true>



                                                //<add verb=PUT allowed=true>



                                                //<add verb=DELETE allowed=true>



                                            </verbs>
                                        </requestFiltering>
                                    </security>
                                </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b17 aria-expanded=false aria-controls=b17>Güvenlik - MIME TYPE Engelleme</a>
                    </div>
                    <div class=collapse id=b17>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <security>
                            <requestFiltering>
                            <fileExtensions allowUnlisted=false>
                            <add fileExtension=.cfm allowed=true>



                            <add fileExtension=.js allowed=true>



                            <add fileExtension=.css allowed=true>



                            <add fileExtension=.html allowed=true>



                            <add fileExtension=.aspx allowed=true>



                            <add fileExtension=.jpg allowed=true>



                            <add fileExtension=.png allowed=true>



                            <add fileExtension=.gif allowed=true>



                            <add fileExtension=.axd allowed=true>



                                            </fileExtensions>
                                        </requestFiltering>
                                    </security>
                                </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b18 aria-expanded=false aria-controls=b18>Güvenlik - URL Yönetimi</a>
                    </div>
                    <div class=collapse id=b18>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <security>
                            <requestFiltering>
                            <denyUrlSequences>
                            <add sequence=..>



                            <add sequence=:>
                            <add sequence="">

                                            </denyUrlSequences>
                                        </requestFiltering>
                                    </security>
                                </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b26 aria-expanded=false aria-controls=b26>Güvenlik - HttpOnlyCookie</a>
                    </div>
                    <div class=collapse id=b26>
                        <div class=well>
<textarea>
                            <system.web>
                            <httpCookies httpOnlyCookies=true>



                                    </system.web>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b28 aria-expanded=false aria-controls=b28>Güvenlik - Requestlere İzin Verme</a>
                    </div>
                    <div class=collapse id=b28>
                        <div class=well>
<textarea>
                            <system.webServer>
                            <modules runAllManagedModulesForAllRequests=true>



                </system.webServer>
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b11 aria-expanded=false aria-controls=b11>Güvenlik - HTTP Kontrolü</a>
                    </div>
                    <div class=collapse id=b11>
                        <div class=well>
                            <a href=https://redbot.org/ target=_blank>redbot.org/</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b27 aria-expanded=false aria-controls=b27>Siteyi Offline'a Alma</a>
                    </div>
                    <div class=collapse id=b27>
                        <div class=well>
<textarea>
                            app_offline.htm dosyası oluşturulup sunucuya atılmalı veya global.asax'tan yönlendirme yapılmalı.
</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#b25 aria-expanded=false aria-controls=b25>Faydalı Linkler</a>
                    </div>
                    <div class=collapse id=b25>
                        <div class=well>
                            <a href=https://github.com/alikayaa/OopPrinciples target=_blank>github.com/alikayaa/OopPrinciples</a><br>
                            <a href=http://www.webguvenligi.org/belgeler target=_blank>webguvenligi.org/belgeler</a><br>
                            <a href=https://www.owasp.org/index.php/.NET_Security_Cheat_Sheet target=_blank>owasp.org/index.php/.NET_Security_Cheat_Sheet</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=col-sm-4>
                <h2>Frontend</h2>
                <hr>
                <br>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#f1 aria-expanded=false aria-controls=f1>Google Yapısal Veri Kontrolü</a>
                    </div>
                    <div class=collapse id=f1>
                        <div class=well>
                            <a href=https://search.google.com/structured-data/testing-tool target=_blank>search.google.com/structured-data/testing-tool</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#f2 aria-expanded=false aria-controls=f2>W3C Dil Kontrolü</a>
                    </div>
                    <div class=collapse id=f2>
                        <div class=well>
                            <a href=https://validator.w3.org/i18n-checker/ target=_blank>validator.w3.org/i18n-checker/</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#f3 aria-expanded=false aria-controls=f3>HTML Kontrolü</a>
                    </div>
                    <div class=collapse id=f3>
                        <div class=well>
                            <a href=https://validator.w3.org/ target=_blank>validator.w3.org/</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#f4 aria-expanded=false aria-controls=f4>CSS Kontrolü</a>
                    </div>
                    <div class=collapse id=f4>
                        <div class=well>
                            <a href=http://jigsaw.w3.org/css-validator/ target=_blank>jigsaw.w3.org/css-validator/</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#f5 aria-expanded=false aria-controls=f5>Javascript Kontrolü</a>
                    </div>
                    <div class=collapse id=f5>
                        <div class=well>
                            <a href=http://esprima.org/demo/validate.html target=_blank>esprima.org/demo/validate.html</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#f6 aria-expanded=false aria-controls=f6>HTML-JS-CSS Küçültme</a>
                    </div>
                    <div class=collapse id=f6>
                        <div class=well>
                            <a href=http://tools.huseyinkayakiran.com/htmlminifier target=_blank>tools.huseyinkayakiran.com/htmlminifier</a><br>
                            <a href=http://tools.huseyinkayakiran.com/cssminifier target=_blank>tools.huseyinkayakiran.com/cssminifier</a><br>
                            <a href=http://tools.huseyinkayakiran.com/javascriptminifier target=_blank>tools.huseyinkayakiran.com/javascriptminifier</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#f7 aria-expanded=false aria-controls=f7>Resim Küçültme</a>
                    </div>
                    <div class=collapse id=f7>
                        <div class=well>
                            <a href=http://tools.huseyinkayakiran.com/imageminifier target=_blank>tools.huseyinkayakiran.com/imageminifier</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class=col-sm-4>
                <h2>Seo</h2>
                <hr>
                <br>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s2 aria-expanded=false aria-controls=s2>Seo Sayfa Yüklenme Hızı</a>
                    </div>
                    <div class=collapse id=s2>
                        <div class=well>
                            <a href=https://developers.google.com/speed/pagespeed/insights/ target=_blank>developers.google.com/speed/pagespeed/insights</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s10 aria-expanded=false aria-controls=s10>Seo Bilgisi</a>
                    </div>
                    <div class=collapse id=s10>
                        <div class=well>
                            <a href=https://www.seohocasi.com/seo-analiz/ target=_blank>seohocasi.com/seo-analiz/</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s1 aria-expanded=false aria-controls=s1>404 Sayfalarını Bulma</a>
                    </div>
                    <div class=collapse id=s1>
                        <div class=well>
                            <a href=http://validator.w3.org/checklink target=_blank>validator.w3.org/checklink</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s3 aria-expanded=false aria-controls=s3>Mobil Uyumluluk</a>
                    </div>
                    <div class=collapse id=s3>
                        <div class=well>
                            <a href=https://search.google.com/test/mobile-friendly>search.google.com/test/mobile-friendly</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s4 aria-expanded=false aria-controls=s4>301 Yönlendirmeleri</a>
                    </div>
                    <div class=collapse id=s4>
                        <div class=well>
<textarea>return RedirectToActionPermanent("ACTION");</textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s5 aria-expanded=false aria-controls=s5>Favicon</a>
                    </div>
                    <div class=collapse id=s5>
                        <div class=well>
<textarea><link rel="shortcut icon" href=./favicon.ico type=image/x-icon></textarea>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s6 aria-expanded=false aria-controls=s6>XML Site Haritası</a>
                    </div>
                    <div class=collapse id=s6>
                        <div class=well>
                            <a href=https://www.xml-sitemaps.com/ target=_blank>xml-sitemaps.com/</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s7 aria-expanded=false aria-controls=s7>Robots.txt Üretici</a>
                    </div>
                    <div class=collapse id=s7>
                        <div class=well>
                            <a href=http://www.robotsgenerator.com/ target=_blank>robotsgenerator.com/</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s8 aria-expanded=false aria-controls=s8>Humans.txt Üretici</a>
                    </div>
                    <div class=collapse id=s8>
                        <div class=well>
                            <a href=http://humanstxt.org/Standard.html target=_blank>humanstxt.org/Standard.html</a>
                        </div>
                    </div>
                </div>
                <div class=col-sm-12>
                    <div class=input-group>
                        <span class=input-group-addon>
                            <input type=checkbox>
                        </span>
                        <a role=button data-toggle=collapse href=#s9 aria-expanded=false aria-controls=s9>Facebook Debugger</a>
                    </div>
                    <div class=collapse id=s9>
                        <div class=well>
                            <a href=https://developers.facebook.com/tools/debug/ target=_blank>developers.facebook.com/tools/debug/</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{}