﻿@{ Layout = "~/Views/_LayoutPage.cshtml"; }

@section styles{}

<div class="card">
    <div class="card-header"><h2>Get Text From Page</h2></div>

    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="fg-line">
                        <textarea class="form-control" rows="20" placeholder="Copy page code here" id="htmlText" name="htmlText" autofocus="autofocus"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="fg-line">
                        <textarea class="form-control" rows="20" placeholder="Copy page code to left area and render it" onclick="this.focus();this.select()" readonly="readonly" id="resultText"></textarea>
                    </div>
                </div>
            </div>
            <a href="#" id="generate" class="btn btn-danger btn-block waves-effect">Get Text From Page</a>
        </div>
    </div>
</div>

@section scripts{

    <script>
        $("#generate").click(function() {
            $.ajax({
                url: '/htmltotext',
                data: JSON.stringify({ 'txt': $('#htmlText').val() }),
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $('#resultText').val(response);
                },
                failure: function(response) {
                    $('#resultText').val('error');
                }
            });

        });
    </script>

}