﻿
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

@section styles{
    <style>
        #loading {
            background-color: rgba(255, 255, 255, 0.75);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 3;
        }

            #loading img {
                vertical-align: middle;
                margin: 0 auto;
                display: block;
                padding: 0;
                margin-top: 70px;
            }
    </style>
}


    <div class="card">
        <div class="preloader pl-xxl" id="loading" style="display: none;">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>
        </div>
        <div class="card-header">
            <h2>Javascript Minifier</h2>
        </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="fg-line">
                            <textarea class="form-control" rows="20" placeholder="Copy page code here" id="htmlText" name="htmlText" autofocus="autofocus"></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div class="fg-line">
                            <textarea class="form-control" rows="20" placeholder="Copy page code to left area and render it" onclick="this.focus();this.select()" readonly="readonly" id="resultText"></textarea>
                        </div>
                    </div>
                </div>
                <a href="#" id="generate" class="btn btn-danger btn-block waves-effect">Minify</a>
            </div>
        </div>
    </div>

@section scripts{

    <script>
        function notify(message, type) {
            $.growl({
                message: message
            }, {
                    type: type,
                    allow_dismiss: false,
                    label: 'Cancel',
                    className: 'btn-xs btn-inverse',
                    placement: {
                        from: 'top',
                        align: 'right'
                    },
                    delay: 2500,
                    animate: {
                        enter: 'animated fadeIn',
                        exit: 'animated fadeOut'
                    },
                    offset: {
                        x: 20,
                        y: 85
                    }
                });
        };

        $("#generate").click(function () {

            $('#loading').show();

            $.ajax({
                url: '/javascriptminifier',
                data: JSON.stringify({ 'txt': $('#htmlText').val() }),
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $('#loading').hide();
                    $('#resultText').val(response);
                    notify('İşlem başarıyla gerçekleştirildi.', 'success');
                },
                failure: function (response) {
                    $('#loading').hide();
                    $('#resultText').val('error');
                    notify('İşlem başarısız.', 'danger');
                }
            });

        });
    </script>

}