﻿
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

@section styles{}

<div class="card">
    <div class="card-header">
        <h2>Password Generator</h2>
    </div>
    <div class="card-body card-padding">

        <div class="form-group">
            <input type="number" id="l" name="l" placeholder="Password Lenght" class="form-control" />
            <input type="checkbox" id="s" name="s" /> With Special Char
            <input type="checkbox" id="n" name="n" /> With Number
            <input type="text" id="t" name="t" placeholder="Start with this keyword" class="form-control"/>
            <a href="#" id="generate" class="btn btn-danger btn-block waves-effect">Generate New Password</a>
        </div>

        <div class="form-group">
            <div class="fg-line fg-toggled">
                <input type="text" class="form-control input-lg" placeholder="8 Character Generated Password Here" value="@ViewBag.NewPassword" onclick="this.focus();this.select()" id="pass"><br/>
                <input type="text" id="time" class="form-control" style="display:none" placeholder="" />
            </div>
        </div>
        <br/>
    </div>
</div>

@section scripts{
    <script>        
        function notify(message, type) {
            $.growl({
                message: message
            }, {
                    type: type,
                    allow_dismiss: false,
                    label: 'Cancel',
                    className: 'btn-xs btn-inverse',
                    placement: {
                        from: 'top',
                        align: 'right'
                    },
                    delay: 2500,
                    animate: {
                        enter: 'animated fadeIn',
                        exit: 'animated fadeOut'
                    },
                    offset: {
                        x: 20,
                        y: 85
                    }
                });
        };
        $("#generate").click(function () {

            var lVal = $('#l').val();
            var sVal = $('#s').val();
            var nVal = $('#n').val();
            var tVal = $('#t').val();

            $.ajax({
                url: '/password',
                data: JSON.stringify({ 'l': lVal, 's': sVal, 'n': nVal, 't': tVal }),
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    var letterCount = 0;
                    try {
                        letterCount = Math.ceil(Math.pow(response.match(/[abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ]/g).length, 26));
                    } catch (e) { }
                    
                    var intCount = 0;
                    try {
                        intCount = Math.ceil(Math.pow(response.match(/[01234567890]/g).length, 10));
                    } catch (e) { } 
                    
                    var specialCount = 0;
                    try {
                        specialCount = Math.ceil(Math.pow(response.match(/[!$&()[{}=_:;|$€]/g).length, 15));
                    } catch (e) { }

                    var yil = Math.ceil((parseFloat(letterCount) + parseFloat(intCount) + parseFloat(specialCount)) / 60 / 60 / 24 / 365 / 2500000000);
                    var ay = Math.ceil((parseFloat(letterCount) + parseFloat(intCount) + parseFloat(specialCount)) / 60 / 60 / 24 / 30 / 2500000000);
                    var hafta = Math.ceil((parseFloat(letterCount) + parseFloat(intCount) + parseFloat(specialCount)) / 60 / 60 / 24 / 7 / 2500000000);
                    var gun = Math.ceil((parseFloat(letterCount) + parseFloat(intCount) + parseFloat(specialCount)) / 60 / 60 / 24 / 2500000000);
                    var saat = Math.ceil((parseFloat(letterCount) + parseFloat(intCount) + parseFloat(specialCount)) / 60 / 60 / 2500000000);
                    var dakika = Math.ceil((parseFloat(letterCount) + parseFloat(intCount) + parseFloat(specialCount)) / 60 / 2500000000);
                    
                    $('#pass').val(response);
                    $('#time').val(yil + ' yıl | ' + ay + ' ay | ' + hafta + ' hafta | ' + gun + ' gün | ' + saat + ' saat | ' + dakika  + ' dakika');
                    $('#time').show();

                    notify('İşlem başarıyla gerçekleştirildi.', 'success');
                },
                failure: function (response) {
                    $('#pass').val("error");
                    $('#time').hide();
                    notify('İşlem başarısız.', 'danger');
                }
            });

        });
    </script>  
}