﻿
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

@section styles{
    <style>
        #loading {
            background-color: rgba(255, 255, 255, 0.75);
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            z-index: 3;
        }

            #loading img {
                vertical-align: middle;
                margin: 0 auto;
                display: block;
                padding: 0;
                margin-top: 70px;
            }
    </style>
}


    <div class="card">
        <div class="preloader pl-xxl" id="loading" style="display: none;">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>
        </div>
        <div class="card-header">
            <h2>Ping</h2>
        </div>
        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <div class="fg-line">
                            <input type="text" class="form-control" placeholder="Copy url here" id="htmlText" autofocus="autofocus" />
                        </div>
                    </div>
                    <div class="form-group">
                        <a href="#" id="generate" class="btn btn-danger btn-block waves-effect">Send Ping</a>
                    </div>
                    <div class="form-group">
                        <div class="fg-line">
                            <div id="resultText"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section scripts{

    <script>
        function notify(message, type) {
            $.growl({
                message: message
            }, {
                    type: type,
                    allow_dismiss: false,
                    label: 'Cancel',
                    className: 'btn-xs btn-inverse',
                    placement: {
                        from: 'top',
                        align: 'right'
                    },
                    delay: 2500,
                    animate: {
                        enter: 'animated fadeIn',
                        exit: 'animated fadeOut'
                    },
                    offset: {
                        x: 20,
                        y: 85
                    }
                });
        };

        $("#generate").click(function () {
            $('#resultText').empty();
            $('#loading').show();

            $.ajax({
                url: '/ping',
                data: JSON.stringify({ 'txt': $('#htmlText').val() }),
                type: 'POST',
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $('#loading').hide();
                    $('#resultText').append(response);
                    notify('İşlem başarıyla gerçekleştirildi.', 'success');
                },
                failure: function (response) {
                    $('#loading').hide();
                    $('#resultText').append('error');
                    notify('İşlem başarısız.', 'danger');
                }
            });

        });
    </script>

}