﻿
@{
    Layout = "~/Views/_LayoutPage.cshtml";
}

@section styles{

}

<div class="card">
    <div class="card-header"><h2>Text Counter</h2></div>
    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-8">
                <div class="form-group">
                    <textarea class="form-control" rows="30" placeholder="Copy text here" id="textArea" name="textArea" autofocus="autofocus"></textarea>
                </div>
            </div>
            <div class="col-sm-4">
                <span id="result"></span>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        function wordCount( val ){
            var wom = val.match(/\S+/g);
            return {
                charactersNoSpaces : val.replace(/\s+/g, '').length,
                characters         : val.length,
                words              : wom ? wom.length : 0,
                lines              : val.split(/\r*\n/).length
            };
        }

        var textarea = document.getElementById("textArea");
        var result   = document.getElementById("result");

        textarea.addEventListener("input", function(){
            var v = wordCount(this.value);

            result.innerHTML = (
                "<br>Characters (no spaces):  "+ v.charactersNoSpaces +
                    "<br>Characters (and spaces): "+ v.characters +
                    "<br>Words: "+ v.words +
                    "<br>Lines: "+ v.lines
            );
        }, false);



    </script>

}