﻿@{ Layout = "~/Views/_LayoutPage.cshtml"; }

@section styles{}

<div class="card">
    <div class="card-header"><h2>URL Decode/Encode</h2></div>
    <div class="card-body card-padding">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="fg-line">
                        <textarea class="form-control" rows="15" placeholder="Copy html text here" id="htmlText" name="htmlText" autofocus="autofocus"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <a href="#" id="generate" class="btn btn-danger btn-block waves-effect">Decode/Encode</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <p class="c-black f-500 m-b-20">Decoded Value : </p>
                    <div class="fg-line">
                        <textarea class="form-control" rows="10" placeholder="Copy html text to upper area and render it" id="decodedText" onclick="this.focus();this.select()" readonly="readonly"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <p class="c-black f-500 m-b-20">Encoded Value : </p>
                    <div class="fg-line">
                        <textarea class="form-control" rows="10" placeholder="Copy html text to upper area and render it" id="encodedText" onclick="this.focus();this.select()" readonly="readonly"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        function notify(message, type) {
            $.growl({
                message: message
            }, {
                    type: type,
                    allow_dismiss: false,
                    label: 'Cancel',
                    className: 'btn-xs btn-inverse',
                    placement: {
                        from: 'top',
                        align: 'right'
                    },
                    delay: 2500,
                    animate: {
                        enter: 'animated fadeIn',
                        exit: 'animated fadeOut'
                    },
                    offset: {
                        x: 20,
                        y: 85
                    }
                });
        };

            $("#generate").click(function () {

                $.ajax({
                    url: '/urlencoder',
                    data: JSON.stringify({ 'txt': $('#htmlText').val() }),
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $('#encodedText').val(response);
                        notify('İşlem başarıyla gerçekleştirildi.', 'success');
                    },
                    failure: function (response) {
                        $('#encodedText').val('error');
                        notify('İşlem başarısız.', 'danger');
                    }
                });

                $.ajax({
                    url: '/urldecoder',
                    data: JSON.stringify({ 'txt': $('#htmlText').val() }),
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        $('#decodedText').val(response);
                        notify('İşlem başarıyla gerçekleştirildi.', 'success');
                    },
                    failure: function (response) {
                        $('#decodedText').val('error');
                        notify('İşlem başarısız.', 'danger');
                    }
                });

            });
    </script>
}